@font-face {
    font-family: 'ReadexPro-Bold';
    src: url('./readex_pro/ReadexPro-Bold.ttf');
}

@font-face {
    font-family: 'ReadexPro-Medium';
    src: url('./readex_pro/ReadexPro-Medium.ttf');
}

@font-face {
    font-family: 'ReadexPro-Regular';
    src: url('./readex_pro/ReadexPro-Regular.ttf');
}

@font-face {
    font-family: 'ReadexPro-SemiBold';
    src: url('./readex_pro/ReadexPro-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('./inter/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('./inter/Inter-Medium.ttf');
}