.scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 101px;
    margin: 60px 0;

    @media screen and (max-width:1100px){
        display: block;
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            img {
                margin: 0 -11px;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        row-gap: 32px;

        &-header {

            @media screen and (max-width: 1100px) {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }

            p {
                font-weight: 600;
                font-size: 22px;
                line-height: normal;
                color: #ffcb45;
            }

            h1 {
                font-weight: 800;
                font-size: 32px;
                line-height: 40px;
                color: #1D1D1D;
                margin-top: 9px;

                @media screen and (max-width: 1100px) {
                    text-align: center;
                }
            }
        }

        &-cards {
            display: flex;
            align-items: center;
            column-gap: 24px;

            @media screen and (max-width: 1100px) {
                justify-content: center;
            }

            @media screen and (max-width: 376px) {
                flex-direction: column;
                row-gap: 20px;
            }

            .first__card,
            .second__card {
                max-width: 450px;
                width: 100%;
                background: #f1f1f1;
                border-radius: 10px;
                padding: 28px 20px;

                &-header {
                    display: flex;
                    align-items: center;
                    column-gap: 18px;

                    h1 {
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 25px;
                        color: #1D1D1D;
                    }

                    .stars {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;
                        margin-top: 11px;
                    }
                }

                &-main {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    color: rgba(29, 29, 29, 0.7);
                    margin-top: 25px;

                }
            }
        }
    }
}