.discount {
    background-image: url('../../../assets/images/back.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 92px 0;
    margin-bottom: 82px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;

    h1 {
        text-align: center;
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
        color: #fff;
    }
}